body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("11275b6900ab7fce4f9e276e0ec68941.jpg") no-repeat center
    center fixed;
  background-size: cover;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
}

header {
  background-color: rgba(255, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-size: 2em;
}

.content,
.gallery {
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 10px;
}

img {
  width: 30%;
  margin: 10px;
  border-radius: 10px;
}

footer {
  margin-top: 20px;
  font-size: 0.9em;
}
